@import "tailwindcss";

/* 
colours
melon: #f5b58c
coral: #f5918c
mint: #8bf4d6
forest: #2b7a64
earth: #756256
darkearth: #755756
 */

@theme {
  --color-melon: #f5b58c;
  --color-coral: #f5918c;
  --color-mint: #8bf4d6;
  --color-forest: #2b7a64;
  --color-earth: #756256;
  --color-darkearth: #755756;
  --color-textearth: oklch(0.21 0.01 20.48);
}

:root {
  @apply font-sans text-textearth;
}

body {
  font-family: "Instrument Sans", sans-serif;
}

main {
  @apply container mx-auto;

  h1 {
    @apply text-3xl font-bold my-4;
  }

  h2 {
    @apply text-2xl font-bold my-4;
  }

  p {
    @apply my-2;
  }

  ol,
  ul {
    @apply list-disc pl-5 my-2;
  }

  a {
    @apply text-coral hover:text-pink-700 underline;
  }
}
