@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default;
  /* themes: false; */
}

@theme {
  --color-melon: #f5b58c;
  --color-coral: #f5918c;
  --color-mint: #8bf4d6;
  --color-forest: #2b7a64;
  --color-earth: #756256;
  --color-darkearth: #755756;
  --color-textearth: oklch(0.21 0.01 20.48);
}

:root {
  @apply font-sans text-textearth;
}

body {
  font-family: "Instrument Sans", sans-serif;
}

.container {
  max-width: 1200px;
}

main {
  @apply container mx-auto;

  h1 {
    @apply font-bold my-4;
    color: var(--color-darkearth);
  }

  h2 {
    @apply font-bold my-4;
    color: var(--color-darkearth);
    border-bottom: 2px dotted var(--color-forest);
  }

  p {
    @apply my-2;
  }

  ol,
  ul {
    @apply list-disc pl-5 my-2;
  }

  a {
    @apply text-coral underline;
  }
}

.mintbox {
  @apply bg-mint;
  color: var(--color-textearth);
  a {
    color: var(--color-textearth);
  }
}

.forestbox {
  @apply bg-forest;
  color: white;
  a {
    color: var(--color-melon);
  }
}
