---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Test h1</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis maxime
    laudantium magni deleniti dolore error corrupti neque dignissimos. Ullam ad
    eveniet harum quos veritatis quaerat, maiores sunt quidem amet omnis?
  </p>
  <h2>test h2</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae deleniti nam
    accusantium praesentium reiciendis veritatis magni eaque facilis, nemo
    sequi, totam minus similique quo accusamus ducimus. Sint omnis eius
    accusantium.
  </p>
  <ul>
    <li><a href="#">link</a></li>
    <li><a href="#">link</a></li>
    <li><a href="#">link</a></li>
  </ul>
</Layout>
